<!DOCTYPE html>
<html>
     <head>
          <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     </head>
     <body>
          <p>
               Hi <%= @user.name %>,<br/><br/>
               Sorry to see you go...<br/><br/>
               You have successfully deleted the account for username: <%= @user.username %><br/><br/><br/>
               We hope <a href="http://www.oomerang.it">Oomerang.it</a> made your life a little better, and that we can help you again in the future,<br/><br/>
               The Oomerangers<br/><br/>
               <hr>
               Lost it? Found it? <a href="http://www.oomerang.it">Oomerang.it</a>!<br/>
          </p>
     </body>
</html>